@model IEnumerable<AlleyCatBarbers.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Services</h1>

@if (User.IsInRole("Admin") | User.IsInRole("Staff"))
{
    <p>
        <form asp-action="Create" method="post">
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           
                <td>
                    @if (User.IsInRole("Admin") | User.IsInRole("Staff"))
                    {
                        <form asp-action="Edit" asp-route-id="@item.Id" method="post" class="d-inline">
                            <button type="submit" class="btn btn-secondary btn-sm">Edit</button>
                        </form>
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    }
                    <form asp-action="Details" asp-route-id="@item.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-secondary btn-sm">Details</button>
                    </form>
                </td>
            
                <td></td>
        </tr>
}
    </tbody>
</table>
