@model AlleyCatBarbers.ViewModels.ReviewListViewModel

@{
    ViewData["Title"] = "Reviews";
}

<h1>Reviews</h1>
@if (User.IsInRole("Customer"))
{
    <p>
        <form asp-action="Create" method="post">
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </p>
}
@if (Model.Reviews == null || !Model.Reviews.Any())
{
    <div class="review">
        <p>No reviews to display</p>
    </div>
}
else
{
    <div class="pb-2">
        <h5>
            Average: @Model.AverageRating/5
            @for (int i = 0; i < @Model.AverageRating; i++)
            {
                <i class="fas fa-star"></i>
            }
        </h5>
    </div>

    @foreach (var review in Model.Reviews)
    {
        <div class="card mb-3 rounded-lg pt-2 col-md-6">
            <div class="card-body bg-light">
                <h6 class="card-title">
                    @review.Rating/5
                    @for (int i = 0; i < @review.Rating; i++)
                    {
                        <i class="fas fa-star"></i>
                    }
                </h6>
                <p class="card-text pt-3 pb-2">"@review.Comments"</p>
                <p class="card-subtitle mb-2 text-muted">
                    @review.UserName<br />
                    <small>@review.DateCreated</small>
                </p>
            </div>
        </div>
    }
}
